nav.navbar {
	height: 15vh;
	background: #46738c9e !important;
}
a.navbar-brand {
	color: #414b82 !important;
}
.navbar-nav {
	padding-left: 5rem !important;
}
ul {
	width: 100%;
}
li {
	font-size: 1.2rem;
	font-weight: 500;
}
.nav-link {
	color: #414b82 !important;
}
.active>.nav-link {
	font-size: 1.20rem;
	color: #fff !important;
	font-weight: 700;
}

.foto_usuario {
	width: 50px;
	height: 50px;
	margin-right: 5px;
	border-radius: 50%;
}

.dropdown-menu, .dropdown-item{
	min-width: 0 !important;
	padding: .2em .5em .2em .5em !important;
	background-color: #ffc107 !important;
}
.dropdown-menu button a {
	color: black !important;
	padding: 0 !important;
}