{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Consultas{% endblock %}</title>
{% block main %}
    <h1>Consultas</h1>
        
        <form method="get">
            <div class="row col-md-12">       
                <div class="col-lg-4">
                    <p>Especialidade:</p>
                    <input autocomplete="off" list="especialidades" type="search" name="especialidade" style="width: 400px;">
                </div>
                <datalist id="especialidades">
                    {% for m_e in medicos_especialidade %}
                    {% ifchanged m_e.id_especialidade.especialidade %}
                        <option>{{m_e.id_especialidade.especialidade}}</option>
                    {% endifchanged %}
                    {% endfor %}
                </datalist>
                <div class="col-lg-6">
                    <p>Cidade:</p>
                    <input autocomplete="off" list="cidades" type="search" name="cidade" style="width: 400px;">
                    <button class="btn btn-primary" type="submit">Filtrar</button>
                </div>
                <datalist id="cidades">
                    {% for m in medicos %}
                    {% ifchanged m.localidade %}
                        <option>{{ m.localidade}}</option>
                    {% endifchanged %}
                    {% endfor %}
                </datalist>
            </div>
            
        </form> 

    <div class="row col-md-8">

        {% for m_e in medicos_especialidade %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{m_e.id_medico.imageURL}}"></img>
            <div class="box-element product">
                <h6><strong>{{m_e.id_medico}} - {{m_e.id_medico.localidade}} - {{m_e.id_especialidade}}</strong></h6>
                <hr>
                <button data-product= {{m_e.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Adicionar consulta</button>
                <a class="btn btn-outile-sucess" href="#">Detalhes</a>
                <h4 style="display: inline-block;float: right">R${{ m_e.preco|floatformat:2 }}</h4>
               </div>
            </div>

        {% endfor %}
    </div>

{% endblock main %}
