{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Medline - Home</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login_cadastrar.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
		integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="row">

        <div class="user_card" id="list-home">
            <div class="d-flex justify-content-center">
                <h1 id="form-title">Tela de Médico</h1>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="{% url 'register_doctor' %}">
                    {% csrf_token %}
                    <div class="ipt-wd input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i
                                    class="wd-ic fas fa-user"></i></span>
                        </div>
                        {{ doctor_registration_form.username }}
                        </div>
                    <div class="ipt-wd input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i
                                    class="wd-ic fas fa-key"></i></span>
                        </div>
                        {{ doctor_registration_form.password }}
                    </div>
                    <div class="ipt-wd input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i
                                    class="wd-ic fas fa-user"></i></span>
                        </div>
                        {{ doctor_registration_form.first_name }}

                    </div>
                    <div class="ipt-wd input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i
                                    class="wd-ic fas fa-user"></i></span>
                        </div>
                        {{ doctor_registration_form.last_name }}

                    </div>
                    <div class="ipt-wd input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i
                                    class="wd-ic fas fa-envelope-square"></i></span>
                        </div>
                        {{ doctor_registration_form.email }}

                    </div>
                    <div class="ipt-wd input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i
                                    class="wd-ic fas fa-envelope-square"></i></span>
                        </div>
                        {{ doctor_registration_form.birth }}

                    </div>
                    <div class="ipt-wd input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i
                                    class="wd-ic fas fa-key"></i></span>
                        </div>
                        {{ doctor_registration_form.cpf }}

                    </div>
                    <div class="ipt-wd input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i
                                    class="wd-ic fas fa-key"></i></span>
                        </div>
                        {{ doctor_registration_form.crm }}

                    </div>
                    <div class="ipt-wd input-group mb-2">
                        <div class="input-group-append">
                            <span class="fotos input-group-text">INSIRA SUA
                                FOTO</span>
                        </div>
                        {{ doctor_registration_form.foto }}

                    </div>


                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit"
                            value="CADASTRAR">
                    </div>
                </form>
            </div>
        </div>
                          
    </div>
</div>
</body>